h2 {
    text-align: center;
    color: var(--colorColar);
    margin: 35px 0;
    letter-spacing: 5px;
    font-weight: 800;
    text-shadow: 0px 1px 3px #000;
}

.boxes {
    width: 100%;
    height: auto;
    display: flex;
    margin: 45px 0;
    color: var(--colorColar);
    text-shadow: 0px 1px 3px #000;
}

.box-class {
    flex-basis: 35%;
    flex-grow: 1;
    margin: 0 15px;
    padding: 10px;
    box-shadow: 0px 0px 5px 5px pink;
    transition: 1s linear;
    cursor: pointer;
}

.box-class:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 5px 1px pink;
}

.box-class p {
    padding: 5px 0;
    border-bottom: 1px solid pink;
    border-top: 1px solid pink;
}

sup, sub {
    font-size: 12px;
}

p span {
    font-size: 25px;
}

.box-class button {
    padding: 5px;
    background-color: var(--colorViolet);
    font-weight: 500;
    cursor: pointer;
    margin: 10px;
    box-shadow: 0px 0px 5px 2px pink;
    border: none;
}

.box-class button a {
    text-decoration: none;
    color: var(--colorColar);
}

table {
    margin: 0 auto;
}

th, td {
    box-shadow: 0px 0px 5px 2px pink;
    color: var(--colorColar);
}

tr:nth-child(even) th, 
tr:nth-child(even) td {
    background-color: rgb(83, 45, 83);
}

th, td {
    box-shadow: 0px 0px 5px 2px pink;
    color: var(--colorColar);
}

th {
    padding: 12px;
}

td {
    padding: 10px;
    font-size: 12px;
}

/* RESPONSIVE DESIGN */
@media (max-width: 1025px) {
    .box-class {
      text-align: center;
    }

    table {
        margin: 0 auto;
        text-align: center;
    }
}

@media (max-width: 568px) {
    h2 {
        margin:20px;
    }
        
    .boxes {
        width: 85%;
        display: flex;
        flex-direction: column;
        margin: 30px auto;
    }

    .box-class {
        margin-bottom: 25px;
    }

    th,  td {
        padding: 8px;
    }
}